<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About me</div>
            <p class="paragraph-text justify-text">
                My name is Mukesh Rai. I was born and raised in Nepal. Currently, I am pursuing my Ph.D. in University of Chinese Academy of Sciences with major in atmospheric modeling.I hold a Masters in Environmental Science [Tribhuvan University, Nepal] and M.S by research in Glaciology [Kathmandu University, Nepal]. I have experience with the high performance computing (HPC) and Linux system. I am interest in aerosol transport mechanism, synergy on aerosol-boundary layer interaction, and radiative forcing studies.
            </p>
            </p>
            <p class="paragraph-text justify-text">
                If you want to say &#9995; HELLO! you can reach out &#128073; <a href="https://twitter.com/MukeshRaee">Twitter</a>, <a href="https://github.com/mukeshraeee">GitHub</a>,
                <a href="https://www.linkedin.com/in/mukesh-rai-5b5b3b85/">LinkedIn</a>, <a href="https://orcid.org/my-orcid?orcid=0000-0001-7138-0459">Orcid</a>.
            </p>
            
        </div>
    </section>
</div>
