<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About me</div>
            <p class="paragraph-text justify-text">
                I hold a MasterS in Environmental Science [Tribhuvan University, Nepal] and M.S by research in Glaciology [Kathmandu University, Nepal]. Currently, I am working as PhD fellow at UCAS, China. My specialization is atmospheric science. Part of my PhD works includes the aerosol simulation using WRF-Chem model and multi-sensors satellite. I have experience with the high performance computing (HPC) and Linux system. I have a keen interest in aerosol transport mechanism, synergy on aerosol-boundary layer interaction, and radiative forcing.
            </p>
            </p>
            <p class="paragraph-text justify-text">
                You can reach me out through different platform at <a href="https://twitter.com/MukeshRaee">Twitter</a>, <a href="https://github.com/mukeshraeee">GitHub</a>,
                <a href="https://www.linkedin.com/in/mukesh-rai-5b5b3b85/">LinkedIn</a>, <a href="https://orcid.org/my-orcid?orcid=0000-0001-7138-0459">Orcid</a>.
            </p>
        </div>
    </section>
</div>
