<!DOCTYPE html>

<html>
<body>

<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">Publication</div>
    
    
<h2>Publication List</h2>
    
<ul>
    <li>Dipesh Rupakheti, Xiufeng Yin, Maheswar Rupakheti, Qianggong Zhang, Ping Li, Mukesh Rai, Shichang Kang (2021) Spatio-temporal characteristics of air pollutants over Xinjiang, northwestern China, Environmental Pollution</li>
</ul>  
    
     </div>
    </section>
</div>
